include header.jade

section
  div
    form(action='index.html', method='post')
      h1 The Form
      fieldset
        input#first_name(type='text', name='user_name', placeholder='First Name')
        input#last_name(type='text', name='user_name', placeholder='Last Name')
        input#birthday(type='date', name='user_birthday')
        input#email(type='email', name='user_email', placeholder='Email')
        label.gender Select Gender
        div.gender_radio
          input#female(type='radio', value='female', name='user_gender')
          label(for='female') Female
          br
          input#male(type='radio', value='male', name='user_gender')
          label(for='male') Male
        input#children(type='number', name='user_children', placeholder='Number of Children')
      button(type='submit') Sign Up

include footer.jade
